/* rhythm magic */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
        margin:0; padding:0; 
	text-rendering: optimizeLegibility;
}
body { font-size: 87.5%; 
/*  background: url("http://24ways.org/examples/compose-to-a-vertical-rhythm/underline.gif");*/
}
html>body { font-size: 12px;}
p, ol,ul,  pre { font-size: 1em; margin-bottom: 1.5em; line-height: 1.5em;}
sup { vertical-align: super; line-height: .1em}
pre { padding-left: 1em; }

h1.fronttitle {
        font-size:3em;
        line-height: 2em;
        margin-bottom: 0em;
        text-align: left;
        font-family: "Georgia";
        max-width: 38em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 2em;
}

h1.title {
        font-size:1.5em;
        line-height: 1em;
        margin-top: .5em;
        margin-bottom: .5em; 
}

h1 {
        line-height:1em;
        font-size:1.5em;
        font-weight:normal;
        margin:0 0 1em 0;
}
h2 {
        font-size:1.1667em;
        line-height: 1.286em;
        margin:1.929em 0 0.643em 0;
        font-weight:normal;
}

body { font-family: "Georgia"; background-color: #e6e6fa;}

:link { color: #68693F; text-decoration: none; border-bottom: 1px dotted #ccc;}
:visited { color: #68693F; text-decoration: none; }

h1.title { text-align: left; }
h1.title a:link, h1.title a:visited, h1.fronttitle a:link, h1.fronttitle a:visited { 
    background-color: #9470db2b;
    padding: .3em; 
    padding-top: 3em; 
    text-decoration: none; 
    color: #9370db; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: .1em; 
    font-family: "Thomas Paine", Georgia; 
    border-bottom: none;
}
#banner { margin-left: 8em; }
.content { }
hr { border: 1px;}
hr:after { content: ""; }
hr + p:first-letter { font-size: 3em; line-height: 1em; margin-right: 2px; display: block; float: left}

.comment { color: #666;}
.posted { text-align: left; color: #666; font-style: italic; }
.posted :link, .posted :visited { text-decoration: none; color: #666; border-bottom: 1px dotted;}
td { vertical-align: top;}
h2.posttitle :link, h2.posttitle :visited { text-decoration: none; color: black;}

.byline { text-align: left; color: #888; margin-right: 1em;}
.byline :link, .byline :visited { color: #666; text-decoration: none; background: #e6e6fa;}
table.main { max-width: 38em; margin-left: auto; margin-right: auto; padding-left: 1.5em; padding-right: 1.5em; }
td.content { padding-left: 0; width: auto; }
.sidebar { padding-left: 4em; text-align: left; color: #777; padding-right: .5em; max-width: 20em; float: right;}
.sidebar :link, .sidebar :visited { color: #8B8A64; text-decoration: none; border-bottom: 1px dotted;}

#comments_show :link, #comments_show :visited, .box :link, .box :visited { color: #555; text-decoration: none; background-color: #D2D6BC; padding: .5em; margin: -.5em; border-bottom: none;}
blockquote { margin-left: 2em; }

ul, ol { margin-left: 3em;}
.footnotes ol { margin-left: 1.5em; }
.footnotes hr { border-top: 1px solid #D2D6BC;  width: 8em; height: 0px; margin-left: 0; margin-top: 0; margin-bottom: 1.5em; padding-top: -1px; padding-bottom: 0px; }
div.footnotes { color: #666; padding-top: 0;}

.epigraph { padding-left: 10%; color: #666;  }
.attribution { text-align: left; font-style: italic;}

.footertag { float: right; padding-right: 2em; }



/* code block css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #9470db2b 
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #9370db
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
  
}
